/*  */
/*  */
/*  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .code-language {
        @apply m-1 rounded-full px-2 text-dark-blue shadow-md dark:shadow-inherit;
    }
    .card {
        @apply rounded-md bg-water p-6 shadow-md drop-shadow-xl dark:bg-indigo dark:shadow-pale-blue/50;
    }
    .card-gradient {
        @apply rounded-xl bg-gradient-to-r from-cyan-300 to-blue-300 p-3 dark:from-blue-900 dark:to-cyan-900;
    }
    .resume {
        @apply rounded-md bg-gradient-to-r from-cyan-300 to-blue-300 px-4 py-1 transition-transform duration-300 hover:scale-110 hover:shadow-lg hover:drop-shadow-md dark:from-blue-900 dark:to-cyan-900;
    }
}

html,
body,
#root {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
