/*  */
/*  */
/*  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.code-language {
		@apply rounded-full px-1 m-0.5 text-dark-blue;
	}
}

/* width */
::-webkit-scrollbar {
	background-color: transparent;
	width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #474747;
	border-radius: 5px;
	height: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #474747;
}

.scroll-hide::-webkit-scrollbar-thumb {
	position: absolute;
	background-color: white;
}

html,
body,
#root {
	font-family: "Inter", sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	/* Prevents overflow on the x-axis */
	overflow-x: hidden;
}
